<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/GoogleTagManger.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/favicon.png" type="image/x-icon">
    @Styles.Render("~/Content/css")
</head>
<body>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TNN95KQ"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            @Html.Action("NavBar", "Shared")
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
    </div>
    <footer class="container-fluid panel-footer text-center">
        @Html.Action("Footer", "Shared")
    </footer>
    @Scripts.Render("~/Scripts/scripts")
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4juG2ab-DtyAfH_i4n6gx4glweBVFrsM&callback=initMap"></script>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107099444-1"></script>
</body>
</html>
